@using IdentityStudy.Extensions;
@{
    ViewData["Title"] = "ITS A SECRET!";
}
<h1>@ViewData["Title"]</h1>

<p>Only authorized members.</p>

@{
    if (this.IfClaim(claimName: "Products", claimValue: "Add"))
    {
        <p>If you see this, then you are a ADMIN .</p>
    }
}

<div>
    @Html.ActionLink(linkText:"Secret",actionName:"Secret").IfClaimShow(Context,claimName: "Products", claimValue: "Add")
</div>

<div>
    <br />
    <button class="btn btn-danger" @Html.Raw(value: this.IfClaimShow(claimName: "Products", claimValue: "Delete"))>DELETE!</button>
</div>





